.swril-chatbot-container {
	border: 0.2rem solid color('primary');
	border-radius: 2rem 2rem 0 2rem;
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1rem;
	transition: all 0.5s ease-in-out;
}

.swril-chatbot-container-open {
	max-height: 35rem;
	height: calc(100% - 4rem);
	max-width: 25rem;
	width: calc(100% - 4rem);
}

.swril-chatbot-body {
	// I am not sure why this works, but leave it
	flex-grow: 1;
	height: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between
}

