
.swril-chatbot-header {
	border-bottom: 0.15rem solid color('primary');
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.swril-close-button {
	cursor: pointer;
	font-size: 2rem;
	margin: 0 1rem;
}

.swril-settings-button {
	cursor: pointer;
	font-size: 2rem;
	margin: 0 1rem;
}

.swril-chatbot-title {
	font-size: 1.5rem;
	// margin: 0 1rem;
}