.swril-message-feedback {
	position: absolute;
	bottom: -0.9rem;
	border: 0.15rem solid color('secondary');
	border-radius: 0.5rem;
	background-color: white;
	height: 1.2rem;
	padding: 0.1rem;
	&:first-child {
		margin-right: 0.1rem
	}
	.material-symbols-outlined {
		font-size: 1.2rem;
		margin: 0;
	}
	.swril-feedback-up-button-selectable {
		cursor: pointer;
		&:hover {
			color: color('primary');
			font-variation-settings: 'FILL' 1;
		}
	}
	.swril-feedback-down-button-selectable {
		cursor: pointer;
		&:hover {
			color: rgb(205, 48, 48);
			font-variation-settings: 'FILL' 1;
		}
	}
	.swril-feedback-up-button-selected {
		color: color('primary');
		font-variation-settings: 'FILL' 1;
	}
	.swril-feedback-down-button-selected {
		color: rgb(205, 48, 48);
		font-variation-settings: 'FILL' 1;
	}
}

