.swril-messages-container {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	height: 100%;
}

.swril-message {
	max-width: 90%;
	display: flex;
	align-items: center;
	margin: 0.5rem 0;
	overflow:visible;
}

.swril-message-box {
	background-color: color('secondary');
	border-radius: 0.8rem;
	padding: 0.5rem;
	margin: 0 1rem;
	position: relative;
	max-width: 80%;
	p, a {
		line-height: 1rem;
		font-size: 0.9rem;
		margin: 0;
		max-width: 100%;
		word-wrap: break-word;
		font-weight: lighter;
	}
}

.swril-message-user .swril-message-box {
	background-color: color('primary');
	p {
		color: white;
	}
}

.swril-message-user {
	align-self: flex-end;
}

.swril-bot-icon {
	height: 3rem;
	width: 1.6rem;
	margin: 0 0.7rem;
}

.swril-account-icon {
	font-size: 3rem;
}