.swril-messages-container {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	height: 100%;
}

.swril-message {
	max-width: 80%;
	display: flex;
	align-items: flex-end;
	margin: 0.5rem 0;
	overflow:visible;
}

.swril-message-box {
	background-color: color('secondary');
	border-radius: 1rem 1rem 1rem 0;
	padding: 0.7rem;
	position: relative;
	p {
		line-height: 1rem;
		font-size: 1rem;
		margin: 0;
	}
}

.swril-message-user {
	flex-direction: row-reverse;
	align-self: flex-end;
	div {
		border-radius: 1.5rem 1.5rem 0 1.5rem;
	}
}

.swril-bot-icon {
	height: 3rem;
	width: 1.6rem;
	margin: 0 0.7rem;
}

.swril-account-icon {
	font-size: 3rem;
}