.swril-message-feedback {
	border-radius: 0.5rem;
	display: flex;
	background-color: white;
	height: 1.2rem;
	padding: 0.1rem;
	.material-symbols-outlined {
		&:first-child {
			margin-right: 0.3rem
		}
		font-size: 1rem;
		margin: 0;
	}
	.swril-feedback-up-button-selectable {
		cursor: pointer;
		&:hover {
			color: rgb(17, 173, 71);
			font-variation-settings: 'FILL' 1;
		}
	}
	.swril-feedback-down-button-selectable {
		cursor: pointer;
		&:hover {
			color: rgb(205, 48, 48);
			font-variation-settings: 'FILL' 1;
		}
	}
	.swril-feedback-up-button-selected {
		color: rgb(17, 173, 71);
		font-variation-settings: 'FILL' 1;
	}
	.swril-feedback-down-button-selected {
		color: rgb(205, 48, 48);
		font-variation-settings: 'FILL' 1;
	}
}

