$colors: (
	primary: #fb3881,
	primary-light: #cf708d,
	primary-lightest: #f9e0e8,
	secondary: #e1e1e1,
	background: #ffffff,
	font: #000000,
);

@function color($key) {
	@if not map-has-key($colors, $key) {
		@warn "Color `#{$key}` not found.";
	}
	@return map-get($colors, $key);
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import './_text.scss';
@import './_chatbot.scss';
@import './_chatbot_header.scss';
@import './_message.scss';
@import './_swrilie.scss';
@import './_input.scss';
@import './_settings.scss';
@import './_modal.scss';
@import './_icons.scss';
@import './_message_feedback.scss';

h1 {
	color: color('font');
}	

